sources:  
  /tmp: https://s3.amazonaws.com/addarsh-necklace/output.zip
files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
   mode: "000644"
   owner: root
   group: root
   content: |
    WSGIApplicationGroup %{GLOBAL}
commands:
  set_output_permissions:
   command: chmod -R 777 /tmp/output
packages:
  yum:
   gcc: []
   gcc-c++: [] 
   git: []
container_commands:
  01_maskrcnn_install:
    command: "bash maskrcnn_deps.sh"
  02_write_permission:
    command: "chmod u+xwr -R /opt/python/current/app"
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: necklace.settings
  aws:elb:policies:
    ConnectionSettingIdleTimeout: 300
